@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Changa:wght@200..800&display=swap');/* Main styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Changa","Amiri",sans-serif;
}
html,body{
  width: 100%;
  height: 100vh;
}
::-moz-selection {
  background-color: rgb(250, 179, 25);
  color: #fff
}

::selection {
  background-color: rgb(255, 179, 11);
  color: #fff
}
main{
  width: 100%;
  height: 100%;

}
/* banner section style */
.banner{
  width: 100%;
  height: 70px;
  background-color: rgb(3, 3, 54);
  border-radius: 0px 0px 20px 20px;
  border-bottom: 2px rgb(255, 179, 11) solid;
}
.menu-nav{
  width: 30px;
  margin-left: 10px;
  margin-top: 3px;
  display: none;
}
.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 7px;
  position: static;
  border-width: 1px;
}
.ul-nav{
  display: flex;
  list-style: none;
  direction: rtl;
  margin-top: 7px;
}
.li-nav{
  margin-left: 50px;
  color: white;
  font-family: "Changa";
  font-weight: 300;
  margin-top: 7px;
  font-size: 20px;
  transition: 0.4s ease;
}
.li-nav:hover{
  color: rgb(248, 80, 19);
}
ul.drop-down{
  z-index: 999;
  position: absolute;
  list-style: none;
  background-color: white;
  box-shadow:0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  line-height: 60px;
  left: 400px;
  top: 78px;
  width: 260px;
  display: none;
  transition: 100s;
}
.qw{
  color: white;
  padding-bottom: 20px;
}
.qr{
  color: white;
  padding-bottom: 20px; ;
}
.qr:hover{
  color: rgb(248, 80, 19);
}
ul.drop-down1{
  z-index: 999;
  position: absolute;
  list-style: none;
  background-color: white;
  box-shadow:0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  line-height: 60px;
  left: 50px;
  top: 78px;
  width: 260px;
  display: none;
  transition: 100s;
}
.hov-li:hover{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  background-color: #fffbe1;
}
.hov-a:hover{
  color: white;
}
.qw:hover{
  color: rgb(248, 80, 19);
}
.db:hover .drop-down{
  display: block;
  transition: 4s;
}
.ds:hover .drop-down1{
  display: block;
  transition: 4s;
}

.a-nav{
  text-decoration: none;
}
.nav .right{
  margin-right: 50px;
  margin-top: 23px;
}
.head{
  width: 100%;
  height: 100%;
}
.container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 40px;
}
.head-title{
  font-size: 30px;
  font-weight: 900;
}
.card{
  border-radius: .475rem;
  border: solid 1px #dee2e6;
  color: #030726 ;
  display: inline-block;
  font-weight: 800;
  /* line-height: 3.5em; */
  min-width: 12em;
  background-color: rgb(255, 179, 11);
  padding: .9rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  margin-bottom: 15px;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.4s;
  cursor: pointer;
}
.card:hover{
 min-width: 13em;
}
iframe{
  width: 100%;
  height: 900px;
  display: block;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.562), 0 4px 6px -2px rgba(0, 0, 0, .05);
  border: none;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 4px;
}
::-webkit-scrollbar-thumb{
  border-radius: 60px;
  border-width: 4px;
  background: rgb(255, 179, 11);
}
@media(min-width:300px)and (max-width:599px) {
  html,body{
    width: 100%;
    height: 100%;
  }
  main{
      width: 100%;
      height: 100%;}
  .banner{
    width: 100%;
    height: 10%;
  }
  .nav{
   height: 100%;
  }
  iframe{
    top: 390px;
  }
  .head-title{
    font-size: 23px;
    font-weight: 900;
  }
  .cards-container{
    margin-right: 30px;
    margin-top: 10px;
  }
  .instu{
    min-width: 100%;
    margin-left: 36px;
    margin-top: 20px;
  }
  .li-nav{
   margin-left: 20px;
   display: none;
  }
  .menu-nav{
  display: block;
  margin-left: 5px;
  }
  .nav .left{
    margin-left: 15px;
  }
  .nav .right{
    margin-right: 9px;
  }
  }